/* 폼태그 */
#contact {
  margin-top: 80px;
  margin-bottom: 80px;
}
#contact h2 {
margin-bottom: 30px;
}

#contact .contactbox {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 15px;
}

#contact .contactbox .him {
  background-color: #FFDF80;
  display: flex;
  height: 3rem;
  text-align: left;
  justify-content: left;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
}

#contact .contactbox .him input {
  background-color: transparent;
  border: none;
}

#contact .contactbox .him input[type=text] {
  flex-grow: 1;
}

#contact .contactbox label {
  padding: 0.5rem 0.1rem;
  margin: 0 2rem;
  text-align: left;
  align-items: center;
  text-wrap: nowrap;
  width: 61px;
}

/*입점문의 메세지 라벨*/
#contact .contactbox #c-m {
  align-items: unset;
}

#contact .contactbox textarea {
  border: transparent;
  color: #333;
  flex-grow: 1;
  margin: 0.552rem 0.1rem;
}

#contact .contactbox textarea::placeholder {
  color: #868282;
}

/*input 속성.................*/
#contact input {
  color: #868282;
}
#contact #send input{
  color: #333;
}
#contact input::placeholder {
  color: #868282;
}

/* 리뷰 */
#review {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
#review h2 {
  margin-bottom: 60px;
}

#review .rv-star .starNum span {
  margin-bottom: 10px;
}

#review .rv-star .starNum span {
  width: 30px;
  height: 30px;
  display: block;
  background: center / contain no-repeat url(../img/star.png);
}



#review #photoRvbox .swiper-slide {
  border-radius: 30px;

}

#review #photoRvbox .swiper-slide img {
  width: 249.8px;
  height: 310px;
  border-radius: 30px;
}


#review .swiper-slide .rv-star {
  padding: 1rem 4rem;
  margin: 0;
}


#review .swiper-slide p {
  font-size: 14px;
}