/* 폼태그 */
#contact {
  margin-top: 80px;
  margin-bottom: 80px;
}

#contact h2 {
  margin-bottom: 30px;
}


#contact .contactbox {
  font-family: 'SOYOMapleBoldTTF';
  font-size: 16px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  margin-bottom: 15px;
}

#contact .contactbox .him {
  background-color: #FFDF80;
  display: flex;
  height: 3rem;
  text-align: left;
  justify-content: left;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
}


#contact .contactbox .him input {
  background-color: transparent;
  border: none;
}

#contact .contactbox .him input[type=text] {
  flex-grow: 1;
}

#contact .contactbox label {
  padding: 0.5rem 0.1rem;
  margin: 0 1rem;
  text-align: left;
  align-items: center;
  text-wrap: nowrap;
}

#contact #send {
  font-family: SOYOMapleBoldTTF;

}

/*입점문의 메세지 라벨*/
#contact .contactbox #c-m {
  align-items: unset;
}

#contact .contactbox textarea {
  border: transparent;
  color: #333;
  flex-grow: 1;
}

#contact .contactbox textarea::placeholder {
  color: #868282;
}

/*input 속성*/
#contact input {
  color: #333;
}

#contact #send input {
  color: #333;
}

#contact input::placeholder {
  color: #868282;
}



/* --------------리뷰--------------- */

#review .swiper-wrapper {
  transition-timing-function: linear;
}

#review {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

#review h2 {
  margin-bottom: 45px;
}


#review .rv-star .starNum span {
  margin-bottom: 10px;
  text-align: center;
  width: 20px;
  height: 45px;
  display: flex;
  background: center / contain no-repeat url(../img/star.png);
}

#review #photoRvbox .swiper-slide {
  border-radius: 30px;
  border: 1px solid #333;
  /* width: auto; */
}


#review #photoRvbox .swiper-slide img {
  width: 262.1px;
  height: 300px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}


#review .swiper-slide .rv-star {
  align-items: center;
}


#review .swiper-slide p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  padding: 0 30px;
}

#review .swiper-slide #face {
  text-align: center;
}


#review .swiper-slide #face img {
  width: 50px;
  height: 50px;
  bottom: 0;
  margin-bottom: 0;
}

#review #goinsta {
  background-color: white;
  color: #3395ED;
  font-family: SOYOMapleBoldTTF;
  font-size: 20px;
  margin-top: 20px;

}

#review #goinsta button {
  border: none;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#review #goinsta button img {
  width: 70px;
  height: 70px;
  margin: 0%;
}