.swiper {
  width: 1200px;
  height: 480px;
  margin-bottom: 100px;
  border: 1px solid #333;
}

.swiper-slide {
  
  background-color: skyblue;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.swiper-slide span {
  opacity: 0;
  transform: translateY(10%);
  transition: .85s;
}
.swiper-slide-active span{
  opacity: 1;
  transform: translateY(0%);
}