@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;400;600&display=swap');




// MAIN
#subscribe {
  h2 {
    a {
      font-family: 'SOYOMapleBoldTTF';
      font-size: 35px;
    }
  }

  .subscribe-main-wrap {

    margin: 70px 0;

    .subscribe-wrap {

      a {
        &:hover {
          img {
            background-color: #333;
            opacity: .5;
          }

          .box-explain {
            display: block;
          }
        }

        img {
          width: 290px;
          height: 290px;
        }

        .box-name {
          font-size: 30px;
        }
      }

      .box-explain {
        display: none;
        // opacity: 0;
        color: #000;
        background-color: darkblue;
        display: none;
        margin-top: -200px;
        color: #fff;
      }
    }
  }

  .ssh--btn-apply {
    background-color: #ffdf80;
    font-family: 'SOYOMapleBoldTTF';
    font-size: 25px;
    border-radius: 20px;
    border: 0;
    width: 215px;
    height: 60px;
  }

  #popup {
    position: absolute;    
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    box-shadow: 5px 4px 27px -4px rgba(0,0,0,0.57);
    -webkit-box-shadow: 5px 4px 27px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: 5px 4px 27px -4px rgba(0,0,0,0.57);
    
    border-radius: 1rem;
    .popup-content {
      img {
        border-radius: 1rem 1rem 0 0;
      }
    }
    .popup-btn {
      // height: 48px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 0 0 1rem 1rem;
      .oneday-close, .close{
        display: inline-block;
        width: 50%;
        line-height: 3;
        box-sizing: border-box;        
        background-color: #fff;
      }
      .oneday-close {
        border: 1px solid #333;
        border-radius: 0 0 0 1rem;
      }
      .close {
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        border-radius: 0 0 1rem 0;
      }
    }
  }
}

#bestTitle {
  margin-top: 50px;
  margin-bottom: 50px;

  .slide-box {
    width: 260px;
    height: 330px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 20px;

    .best-ment {
      margin-top: 50px;
      margin-bottom: 30px;
      font-family: 'SOYOMapleBoldTTF';
      font-size: 30px;
    }

    .ssh--btn-go-now {
      width: 160px;
      height: 35px;
      border: 1px solid #333;
      border-radius: 10px;
      background-color: white;
    }

    .slide-box-btns {
      // background-color: red;
      bottom: 67px;

      .swiper-button-prev {
        position: unset;
        margin-left: 30px;
        margin-right: 50px;
        color: rgb(128, 149, 255);
      }

      .swiper-button-next {
        position: unset;
        color: #0000008c;
      }

      .swiper-button-prev::after {
        content: "←";

      }

      .swiper-button-next::after {
        content: "→";
        // font-size: 0;
      }
    }
  }

  .swiper {
    width: 1700px;
    // border: 1px solid #333;

    .swiper-wrapper {
      .swiper-slide {
        &:hover {          
          .pickbox {
            opacity: 1;
            transition: .3s;
          }
        }
        a {
          transition: .3s;
          &:hover {
              filter: brightness(50%);
          }
          img {
            width: 260px;
            height: 330px;
            border-radius: 20px;
          }
        }
        .pickbox {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          .picktitle {
            color: #fff;
            font-size: 30px;
            white-space: nowrap;

          }
          .hashtag {
            color: #fff;
            white-space: nowrap;
          }
        }
      }
    }
  }


}